.App {
  font-family: 'Girassol', cursive;
  text-align: center;
  background: url("https://picsum.photos/1600/900");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
